# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env

# Virtual Environment
venv/
env/
.venv/

# OS specific
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/

# Ignore test media
*.wav
*.mp3
